
{% extends 'creaturesApp/base.html'%}
{% block body %}
    <div class="container m-3 mt-5 p-3" style="background-color: rgba(159,136,0,0.32); border-radius: 1rem">
        <h1>{{ title }}</h1>
        <p>Please input some information so that you can start adding to the collection!</p>
        <form method="POST">
            {% csrf_token %}
            <label for="username"><strong>Username</strong></label>
            <input class="form-control" type="text" name="username" id="username" required>
            <label for="email"><strong>Email</strong></label>
            <input class="form-control" type="email" name="email" id="email" required>
            <label for="password"><strong>Password</strong></label>
            <input class="form-control" type="password" name="password" id="password" required>
            <br>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
{% endblock %}